<h1>Palindrom Rechner</h1>
<label for="name">Eingabe: </label><input id="name" type="number" [(ngModel)]="eingabe">
<br>
<button (click)="sendeBerechnung()">Berechne</button>
<br>
@if (berechnet){
  Mit der Eingabe {{eingabe}} wurde folgendes Palindrom berechnet: <br>
  {{ergebnis}} <br>
  Es wurden {{zyklen}} Zyklen benötigt.
  <button (click)="speichern()">Speichern</button>
}
<button (click)="gebeAlleAus()">Ergebnisse Ausgeben</button>
<table>
  <tr>
    <th>Eingabe</th>
    <th>Palindrom</th>
    <th>Zyklen</th>
  </tr>

@for (res of ergebnisse; track ergebnisse){
  <tr>
    <td>{{res.eingabe}}</td>
    <td>{{res.palindrome}}</td>
    <td>{{res.zyklen}}</td>
  </tr>
}
</table>
